<section id="about">
  <div class="container">
    <h2 class="about-title">About <span class="accent-light"> me</span></h2>
    
    <div class=" about-wrap">
      <picture>
        <source media="(min-width:1280px)" srcset="../img/about/about.ds.jpg 1x, ../img/about/about.ds@2x.jpg 2x">
        <source media="(min-width:768px)" srcset="../img/about/about.tab.jpg 1x, ../img/about/about.tab@2x.jpg 2x">
        <source media="(max-width:767px)" srcset="../img/about/about.mob.jpg 1x, ../img/about/about.mob@2x.jpg 2x">
        <img src="../img/about/about.mob.jpg" class="about-img" alt="About me">
      </picture>
    
      <div class="about-section bio">
        <h3 class="about-section-title">BIO</h3>
        <p class="about-section-text ">I'm Lloyd Jefferson, a talented programmer specializing <br> in software
          development. My expertise spans various programming
          languages and technologies, and I am dedicated to continually enhancing my skills. I thrive on seeking
          unconventional
          and creative solutions to problems, leveraging a high level of analytical skills to effectively tackle even
          the most
          challenging tasks.</p>
        <p class="about-section-text">Adaptable to both independent and team-oriented work, I collaborate seamlessly
          with colleagues, exchanging ideas and
          finding optimal solutions. My professional maturity enables me to navigate challenges and stressful situations
          with a
          calm demeanor, maintaining a consistently high quality of work. Committed to self-improvement, I actively
          engage in
          studying new technologies and practices to stay current with the latest innovations in the field.</p>
      </div>
    
      <div class="about-section">
        <h3 class="about-section-title">EDUCATION</h3>
        <ul class="about-list">
          <li class="about-item">
            <svg class="about-icon" width="24" height="24">
              <use href="../img/ic.svg#icon-dot"></use>
            </svg>
            <p class="about-section-text">2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</p>
          </li>
          <li class="about-item">
            <svg class="about-icon" width="24" height="24">
              <use href="../img/ic.svg#icon-dot"></use>
            </svg>
            <p class="about-section-text">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York
            </p>
          </li>
          <li class="about-item">
            <svg class="about-icon" width="24" height="24">
              <use href="../img/ic.svg#icon-dot"></use>
            </svg>
            <p class="about-section-text">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
          </li>
        </ul>
      </div>
    
      <div class="about-section">
        <h3 class="about-section-title">ROLE</h3>
        <ul class="about-list">
          <li class="about-item">
            <svg class="about-icon" width="24" height="24">
              <use href="../img/ic.svg#icon-dot"></use>
            </svg>
            <p class="about-section-text">Frontend development</p>
          </li>
          <li class="about-item">
            <svg class="about-icon" width="24" height="24">
              <use href="../img/ic.svg#icon-dot"></use>
            </svg>
            <p class="about-section-text">HeadlessCMS, Wordpress</p>
          </li>
          <li class="about-item">
            <svg class="about-icon" width="24" height="24">
              <use href="../img/ic.svg#icon-dot"></use>
            </svg>
            <p class="about-section-text">Blender (enjoy)</p>
          </li>
        </ul>
      </div>
    
    </div>
  </div>
</section>
