<section id="faq">
  <div class="container">
    <h2>frequently
      asked
      <span>question</span></h2>
      <ul class="accordion">
        <li class="accordion-item">
          <button class="accordion-trigger">WHAT PROGRAMMING LANGUAGES ARE MOST OFTEN USED IN YOUR PROJECT?</button>
          <div class="accordion-content">
            In the field of web development, various technologies and programming languages are used. Typically, it includes frontend and backend.
          </div>
        </li>
        <li class="accordion-item">
          <button class="accordion-trigger">WHAT ARE THE DEADLINES FOR THE PROJECT?</button>
          <div class="accordion-content">
            The project deadlines depend on the scope, complexity, and available resources.
          </div>
        </li>
        <li class="accordion-item">
          <button class="accordion-trigger">WHAT PAYMENT METHODS DO YOU ACCEPT?</button>
          <div class="accordion-content">
            Payment via Visa, MasterCard, PayPal, and cryptocurrencies like Bitcoin and Ethereum.
          </div>
        </li>
        <li class="accordion-item">
          <button class="accordion-trigger">HOW CAN I CONTACT YOU?</button>
          <div class="accordion-content">
            You can reach out through web platforms, emails, or messengers.
          </div>
        </li>
        <li class="accordion-item">
          <button class="accordion-trigger">DO YOU PROVIDE ADVICE OR SUPPORT?</button>
          <div class="accordion-content">
            Yes, consultation and support are available during and after project development.
          </div>
        </li>
        <li class="accordion-item">
          <button class="accordion-trigger">WHAT DOES THE PROCESS OF DEVELOPING A SOFTWARE PRODUCT LOOK LIKE?</button>
          <div class="accordion-content">
            From idea validation, through design and development, to launch and support.
          </div>
        </li>
      </ul>
  </div>
</section>
