<section id="faq">
  <div class="container">
    <div class="side">
      <h2>frequently<br>asked<br><span>question</span></h2>
      <img class="faq-decor" src="./img/bg-img/decor%20bg%204-desktop.webp" alt="green decorative dots">
    </div>

    <div class="ac" id="accordion">

      <div class="ac-item">
        <button class="ac-trigger">
          <div class="accordion-title">
            <p>WHAT PROGRAMMING LANGUAGES ARE MOST OFTEN USED IN YOUR PROJECT?</p>
            <span class="accordion-icon"><svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L7 7L1 1" stroke="#292929" stroke-width="2" stroke-linecap="round" />
            </svg></span>
          </div>
        </button>
        <div class="ac-panel">
          <p>In the field of web development, there are various technologies and programming languages.
            Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
      </div>

      <div class="ac-item">
        <button class="ac-trigger">
          <div class="accordion-title">
            <p>WHAT ARE THE DEADLINES FOR THE PROJECT?</p>
            <span class="accordion-icon"><svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L7 7L1 1" stroke="#292929" stroke-width="2" stroke-linecap="round" />
            </svg></span>
          </div>
        </button>
        <div class="ac-panel">
          <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project,
            its complexity, and the availability of resources.
            Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
        </div>
      </div>

      <div class="ac-item">
        <button class="ac-trigger">
          <div class="accordion-title">
            <p>WHAT PAYMENT METHODS DO YOU ACCEPT?</p>
            <span class="accordion-icon"><svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L7 7L1 1" stroke="#292929" stroke-width="2" stroke-linecap="round" />
            </svg></span>
          </div>
        </button>
        <div class="ac-panel">
          <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal,
            as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>
      </div>

      <div class="ac-item">
        <button class="ac-trigger">
          <div class="accordion-title">
            <p>HOW CAN I CONTACT YOU?</p>
            <span class="accordion-icon"><svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L7 7L1 1" stroke="#292929" stroke-width="2" stroke-linecap="round" />
            </svg></span>
          </div>
        </button>
        <div class="ac-panel">
          <p>In the field of web development, there are various technologies and programming languages.
            Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
      </div>

      <div class="ac-item">
        <button class="ac-trigger">
          <div class="accordion-title">
            <p>DO YOU PROVIDE ADVICE OR SUPPORT?</p>
            <span class="accordion-icon"><svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L7 7L1 1" stroke="#292929" stroke-width="2" stroke-linecap="round" />
            </svg></span>
          </div>
        </button>
        <div class="ac-panel">
          <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources.
            Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
        </div>
      </div>

      <div class="ac-item">
        <button class="ac-trigger">
          <div class="accordion-title">
            <p>WHAT DOES THE PROCESS OF DEVELOPING A SOFTWARE PRODUCT LOOK LIKE?</p>
            <span class="accordion-icon"><svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L7 7L1 1" stroke="#292929" stroke-width="2" stroke-linecap="round" />
            </svg></span>
          </div>
        </button>
        <div class="ac-panel">
          <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal,
            as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>
      </div>

    </div>
  </div>
</section>