<section id="faq">
  <div class="container">
    <div class="side">
      <h2>frequently
        asked
        <span class=".accent-light">question</span></h2>
      <img class="faq-decor" src="./img/bg-img/decor%20bg%204-desktop.webp" alt="green decorative dots">
    </div>

    <div class="ac" id="accordion">

      <div class="ac-item">
        <button class="ac-trigger" aria-expanded="false">
          <span class="accordion-title">WHAT PROGRAMMING LANGUAGES ARE MOST OFTEN USED IN YOUR PROJECT?</span>
          <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 15L12 9L6 15" stroke="#292929" stroke-width="2" stroke-linecap="round" />
          </svg>
        </button>
        <div class="ac-panel">
          <p>In the field of web development, there are various technologies and programming languages.
             Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
      </div>

      <div class="ac-item">
        <button class="ac-trigger el-1" aria-expanded="false">
          <span class="accordion-title ">WHAT ARE THE DEADLINES FOR THE PROJECT?</span>
          <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 15L12 9L6 15" stroke="#292929" stroke-width="2" stroke-linecap="round" />
          </svg>
        </button>
        <div class="ac-panel">
          <p>The terms of project implementation depend to a large extent on a number of factors,
             such as the scope of the project, its complexity, and the availability of resources. 
            Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
        </div>
      </div>

      <div class="ac-item">
        <button class="ac-trigger el-2" aria-expanded="false">
          <span class="accordion-title">WHAT PAYMENT METHODS DO YOU ACCEPT?</span>
          <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 15L12 9L6 15" stroke="#292929" stroke-width="2" stroke-linecap="round" />
          </svg>
        </button>
        <div class="ac-panel">
          <p>Payment through credit and debit cards such as Visa, MasterCard, 
            specialized electronic payment systems such as PayPal, 
            as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>
      </div>

      <div class="ac-item">
        <button class="ac-trigger el-3" aria-expanded="false">
          <span class="accordion-title">HOW CAN I CONTACT YOU?</span>
          <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 15L12 9L6 15" stroke="#292929" stroke-width="2" stroke-linecap="round" />
          </svg>
        </button>
        <div class="ac-panel">
          <p>In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
      </div>

      <div class="ac-item">
        <button class="ac-trigger el-4" aria-expanded="false">
          <span class="accordion-title">DO YOU PROVIDE ADVICE OR SUPPORT?</span>
          <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 15L12 9L6 15" stroke="#292929" stroke-width="2" stroke-linecap="round" />
          </svg>
        </button>
        <div class="ac-panel">
          <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
        </div>
      </div>

      <div class="ac-item">
        <button class="ac-trigger" aria-expanded="false">
          <span class="accordion-title">What does the process of developing a software product look like from idea to implementation?</span>
          <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 15L12 9L6 15" stroke="#292929" stroke-width="2" stroke-linecap="round" />
          </svg>
        </button>
        <div class="ac-panel">
          <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>
      </div>

    </div>
  </div>
</section>