<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-fixed">
      <div class="footer-main">
        <div class="footer-link">
          <a href="./index.html" class="footer-logo"
            >LLOYD<span class="accent-light">JEFFERSON.</span></a
          >
        </div>
        <div class="footer-down">
          <ul class="footer-menu">
            <li class="footer-menu-item">
              <a href="https://www.instagram.com/goitclub/" target="_blank"
                >Instagram</a
              >
            </li>
            <li class="footer-menu-item">
              <a href="https://www.facebook.com/goITclub/" target="_blank"
                >Facebook</a
              >
            </li>
            <li class="footer-menu-item">
              <a
                href="https://www.linkedin.com/school/goit-start-your-career-in-it"
                target="_blank"
                >Linkedin</a
              >
            </li>
            <li class="footer-menu-item">
              <a
                href="https://dmytro15082014.github.io/project-group-15/"
                target="_blank"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="regulation-menu">
        <div class="regulation-menu-item">
          <p>&copy; Copyright 2024.</p>
          <p>&nbsp;Made by LloydJefferson</p>
        </div>
      </div>
    </div>
  </div>
</footer>
