<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-fixed">
      <hr class="footer-line" />
      <div class="footer-main">
        <div class="footer-link">
          <a href="./index.html" class="footer-logo"
            >LLOYD<span class="span">JEFFERSON.</span></a
          >
        </div>
        <div class="footer-down">
          <ul class="footer-menu">
            <li class="footer-menu-item">
              <a href="https://www.instagram.com/goitclub/">Instagram</a>
            </li>
            <li class="footer-menu-item">
              <a href="https://www.facebook.com/goITclub/">Facebook</a>
            </li>
            <li class="footer-menu-item">
              <a
                href="https://www.linkedin.com/school/goit-start-your-career-in-it"
                >Linkedin</a
              >
            </li>
            <li class="footer-menu-item">
              <a href="https://dmytro15082014.github.io/project-group-15/"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>

      <ul class="regulation-menu">
        <li class="regulation-menu-item">
          &copy;© Copyright 2024. Made by LloydJefferson
        </li>
      </ul>
    </div>
  </div>
</footer>
