<header class="header" id="header">
  <div class="container header-container">
    <a href="#home" class="header-logo"
      >Lloyd<span class="accent-light">Jefferson.</span></a
    >
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li>
          <label class="switch-theme"
            ><input type="checkbox" id="theme-change" /><span
              class="slider"
            ></span
          ></label>
        </li>
        <li class="menu-mobile-item">
          <a href="#about">About me</a>
        </li>
        <li class="menu-mobile-item">
          <a href="#projects">Projects</a>
        </li>
        <li class="menu-mobile-item">
          <a href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="open-menu-btn" type="button">
      <svg width="32" height="32" class="burger">
        <use href="/img/header-svg/header-icons.svg#mobile-menu-btn"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <a href="#home" class="mobile-header-logo">
        Lloyd<span class="accent-light">Jefferson.</span>
      </a>
      <button class="mobile-menu-close">
        <svg class="modal-close-btn-icon" width="32" height="32">
          <use href="/img/header-svg/header-icons.svg#close"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="menu-mobile-list">
          <li class="menu-mobile-item"><a href="#about">About me</a></li>
          <li class="menu-mobile-item"><a href="#projects">Projects</a></li>
          <li class="menu-mobile-item">
            <a href="#work-together">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
