<header class="header" id="header">
  <div class="container">
    <a href="#home" class="header-logo"
      >Lloyd<span class="header-logo-span">Jefferson.</span></a
    >

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="menu-mobile-item">
          <a href="#about">About me</a>
        </li>
        <li class="menu-mobile-item">
          <a href="#projects">Projects</a>
        </li>
        <li class="menu-mobile-item">
          <a href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="open-menu-btn" type="button">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <use href="/src/img/header-svg/Vector-4.svg"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <a href="#home" class="mobile-header-logo">
        Lloyd<span class="mobile-header-logo-span">Jefferson.</span>
      </a>
      <button class="mobile-menu-close">
        <svg class="modal-close-btn-icon" width="32" height="32">
          <use href="/src/img/header-svg/close.svg"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="menu-mobile-list">
          <li class="menu-mobile-item"><a href="#about">About me</a></li>
          <li class="menu-mobile-item"><a href="#projects">Projects</a></li>
          <li class="menu-mobile-item"><a href="#contacts">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
