<section id="hero">
  <div class="container container-hero">
    <div class="background-frame">
      <div class="main-frame">
        <h1 class="main-title">
          <span class="title-first">HELLO, I AM</span>
          <picture class="web-dev-jpg">
            <source
              class="dev-jpg"
              srcset="/img/img-dev@2x.jpg 2x, /img/img-dev.jpg 1x"
            />
            <img class="dev-jpg" src="/img/img-dev.jpg" alt="web-dev" />
          </picture>
          <span class="head-wrap accent-light">FULLSTACK DEVELOPER</span>
        </h1>
        <div class="btn-order">
          <a href="#work-together">
            <div class="btn-box">
              <p class="btn-order-text">order the project</p>
              <img
                class="btn-arrow"
                src="/img/bg-img/Arrow1.svg"
                alt="arrow"
                width="28"
              />
            </div>
          </a>
        </div>
        <p class="inspiration-text">
          I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE
          <span class="accent-light">IMPRESSIVE</span> AND
          <span class="accent-light"> FUNCTIONAL WEBSITES</span> THAT REFLECT
          EACH CLIENT'S UNIQUE PERSONALITY
        </p>
      </div>
    </div>
  </div>
  <div class="social-media-container">
    <ul class="social-media">
      <li>
        <a
          href="https://www.instagram.com/goitclub"
          class="social-link"
          target="blank"
          >Instagram</a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/goITclub"
          class="social-link"
          target="blank"
          >Facebook</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          class="social-link"
          target="blank"
          >LinkedIn</a
        >
      </li>
      <li>
        <a
          href="https://github.com/Dmytro15082014/project-group-15"
          class="social-link"
          target="blank"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
