<section id="projects">
  <div class="container projects-container">
    <h2 class="project-header">
      MY <span class="accent-light">PROJECTS</span>
    </h2>
    <ul class="projects-list"></ul>
    <div class="load-more-btn">
      <button class="project-load-more-btn">
        <p class="project-load-more-btn-text">LOAD MORE</p>
        <svg class="projects-arrow-btn-icon" width="107" height="2">
          <use
            class="projects-arrow"
            href="/img/projects/arrow-icon.svg#btn-arrow"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
