<section id="skills">
  <div class="container">
    <h2  class="visually-hidden">Tech Skills</h2>


    <div class="skills-wrap">

      <div class="skills-box box-1">
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>HTML/CSS</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>JavaScript</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>React</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>Node.js</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>React Native</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>Typescript</p>
        
      </div>



      <div class="skills-box box-1 clone">
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>HTML/CSS</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>JavaScript</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>React</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>Node.js</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>React Native</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>Typescript</p>

      </div>

    </div>


    <div class="skills-wrap">

      <div class="skills-box box-2 accent-light">
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>HTML/CSS</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>JavaScript</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>React</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>Node.js</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>React Native</p>
        <svg class="skills-icon" width="24" height="24">
          <use href="../img/ic.svg#icon-dot-big"></use>
        </svg>
        <p>TypeScript</p>
        
      </div>

      </div>

   </div>


  </div>
</section>


