<section id="skills">
  <h2 class="visually-hidden">Tech Skills</h2>

  <div class="skills-wrap liner">
    <div class="marquee-container box-1">
      <svg width="24" height="24">
        <use href="/img/ic.svg#icon-dot-big"></use>
      </svg>
      <p>HTML/CSS</p>
      <svg width="24" height="24">
        <use href="/img/ic.svg#icon-dot-big"></use>
      </svg>
      <p>JavaScript</p>
      <svg width="24" height="24">
        <use href="/img/ic.svg#icon-dot-big"></use>
      </svg>
      <p>React</p>
      <svg width="24" height="24">
        <use href="/img/ic.svg#icon-dot-big"></use>
      </svg>
      <p>Node.js</p>
      <svg width="24" height="24">
        <use href="/img/ic.svg#icon-dot-big"></use>
      </svg>
      <p>React Native</p>
      <svg width="24" height="24">
        <use href="/img/ic.svg#icon-dot-big"></use>
      </svg>
      <p>Typescript</p>
    </div>
  </div>

  <div class="skills-wrap rotate">
    <div class="marquee-container box-2 accent-light">
      <svg width="24" height="24">
        <use href="/img/ic.svg#icon-dot-big"></use>
      </svg>
      <p>HTML/CSS</p>
      <svg width="24" height="24">
        <use href="/img/ic.svg#icon-dot-big"></use>
      </svg>
      <p>JavaScript</p>
      <svg width="24" height="24">
        <use href="/img/ic.svg#icon-dot-big"></use>
      </svg>
      <p>React</p>
      <svg width="24" height="24">
        <use href="/img/ic.svg#icon-dot-big"></use>
      </svg>
      <p>Node.js</p>
      <svg width="24" height="24">
        <use href="/img/ic.svg#icon-dot-big"></use>
      </svg>
      <p>React Native</p>
      <svg width="24" height="24">
        <use href="/img/ic.svg#icon-dot-big"></use>
      </svg>
      <p>TypeScript</p>
    </div>
  </div>
</section>
