<section id="work-together">
  <div class="container">
    <div class="contact-us">
      <h2 class="h2-contact-us">
        LET'S<span class="span"> WORK TOGETHER</span>
      </h2>
      <div class="contact-body">
        <div class="lloyd-contact">
          <p class="contact-text">
            CONTACT ME TO TRANSFORM YOUR IDEAS INTO EXCEPTIONAL SOLUTIONS.
          </p>
          <div class="icon-contact">
            <svg width="24" height="24">
              <use href="../img/icons/symbol-defs.svg#email"></use>
            </svg>
            <p>+38 090 456 78 90</p>
          </div>
          <div class="icon-contact">
            <svg width="24" height="24">
              <use href="../img/icons/symbol-defs.svg#email"></use>
            </svg>
            <p>lloydjefferson@gmail.com</p>
          </div>
          <div class="icon-contact">
            <svg width="24" height="24">
              <use href="../img/icons/symbol-defs.svg#email"></use>
            </svg>
            <p>USA, New York</p>
          </div>
        </div>
        <div class="info-window">
          <form class="contact-form">
            <div class="contact-row">
              <label for="user-email"></label>
              <input
                type="email"
                name="user-email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                id="user-email"
                class="contact-input"
                placeholder="Your email*"
                required
              />
            </div>
            <div>
              <label for="user-comment"></label>
              <textarea
                name="user-comment"
                id="user-comment"
                class="contact-textarea"
                placeholder="Message"
                required
              ></textarea>
            </div>
            <button class="button-send" type="submit">SEND MESSAGE</button>
          </form>
        </div>

        <div class="decor">
          <picture
            ><source
              src="../img/bg-img/decor_bg_3-desktop.webp"
              media="(min-width: 1280px)"
            />
            <source
              src="../img/bg-img/decor_bg_7-tablet.webp"
              media="(min-width: 768px)"
            />
            <img
              src="../img/bg-img/decor bg 3-desktop.webp"
              height="300"
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
