
.benefits-container {
    overflow-wrap: break-word;
}

.benefits-title {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
}

.benefits-list-container {
    padding-top: 40px;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
}

.benefits-list-item.empty {
    visibility: hidden;
}

.benefits-list-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.benefits-icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #bcdfd1;
}

.benefits-icons {
    stroke: #00B068;
    fill: none;
}

.benefits-list-title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
}

.benefits-list-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
}

@media screen and (min-width: 768px) {

    .benefits-title {
        font-size: 108px;
        line-height: 1.15;
        letter-spacing: 0.02em;
    }

    .benefits-list-container {
        padding-top: 0px;
    }

    .benefits-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-end;
    }

    .benefits-list li:first-child {
        grid-column: 2 / 3;
    }

    .benefits-list-item {
        max-width: 336px;
    }

    .benefits-list-title {
        font-size: 20px;
        line-height: 1.6;
    }

}


@media screen and (min-width: 1280px) {

    .benefits-container {
        position: relative;
    }

    .benefits-title-container {
        position: relative;
        width: 681px;
    }

    .benefits-title-container::after {
        content: "";
            position: absolute;
            top: 5%;
            left: 108%;
            transform: translateY(-35%);
            width: 526px;
            height: 408px;
            background-image: url(/img/bg-img/decor3-desktop.webp);
            background-size: cover;
            /* Покриває всю область */
            background-position: center;
        }

    .benefits-list-container {
        top: 100%;
        left: auto;
        width: 100%;
        height: 100%;
        transform: translateY(-30%);
        z-index: 10;
    }

    .benefits-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .benefits-list li:first-child {
        grid-column: 3 / 4;
    }

    .benefits-list li:nth-child(2) {
        grid-column: 1 / 2;
    }

    .benefits-list-item {
    max-width: 384px;
    }
}