#faq h2 {
  font-size: 40px;
  /* text-align: center; */
  margin-bottom: 40px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 400;
font-size: 52px;
line-height: 123%;
letter-spacing: 0.03em;
text-transform: uppercase;
}

#faq h2 span {
  display: block;
  color: #00B068;
}

.accordion {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion-item {
  border-radius: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.accordion-item:first-child {
  border-top: none;
}

.accordion-trigger {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  background: none;
  border: none;
  padding: 28px 24px;
  text-align: left;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s;
}

.accordion-icon {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 18px;
}

.accordion-trigger.active .accordion-icon {
  transform: rotate(180deg);
}

.accordion-content-title {
  font-weight: 400;
font-size: 18px;
line-height: 156%;
letter-spacing: 0.03em;
text-transform: uppercase;
max-width: 244px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
}

.accordion-content.open {
  padding: 20px;
}

.accordion-item.open {
  background-color: #BCDFD1;
}

@media only screen and (max-width: 1279px){
  .faq-decor{
    display: none;
  }

}

@media only screen and (min-width: 767px) {
  .accordion-content-title {
    max-width: 600px;
    
  }

  #faq h2 {
    font-weight: 400;
font-size: 108px;
line-height: 115%;
letter-spacing: 0.02em;
text-transform: uppercase;
  }
}


@media only screen and (min-width: 1279px) {
    .faq-decor{
    display: block;
    width: 564px;
    }
    #faq h2 {
      width: 530px;
      margin: 0px;
      font-weight: 400;
  font-size: 108px;
  line-height: 115%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
    }

    .faq-decor{
      margin-top: 240px;
    }
    
    #faq .container{
      display: grid;
  grid-template-columns: repeat(2, 1fr);
    }
    .accordion{
      margin-top: 276px;
      

    }
} 