#faq h2 {
  font-size: 40px;
  /* text-align: center; */
  margin-bottom: 40px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 400;
font-size: 52px;
line-height: 123%;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.ac .ac-trigger::after {
  content: none !important;
}

#faq h2 span {
  display: block;
  color: #00B068;
}

.ac {
  
  background-color: transparent !important;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ac-trigger:focus{
  color: black !important;

}

.ac-trigger {
  padding: 0px !important; 
}

.ac-item {
  padding: 28px 24px 28px 24px;
  border-radius: 10px;
  border: 1px solid #ccc;

  overflow: hidden;
}

.ac-panel {
 
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
}

.ac .ac-trigger::after {
    content: "+";
    text-align: center;
    width: 15px;
    transform: translate(0, -50%);
    position: absolute;
    right: 10px;
    top: 50%;
}


.ac-item.is-active {
  background-color: #BCDFD1;
}


.ac-trigger {
  padding: 0 !important;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.accordion-title {
  
  font-weight: 400;
font-size: 20px;
line-height: 160%;
letter-spacing: 0.03em;
text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-title p {
  font-weight: 400;
font-size: 18px;
line-height: 156%;
letter-spacing: 0.03em;
text-transform: uppercase;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.accordion-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent; /* Цвет фона для квадратика */
  border-radius: 8px;
  font-size: 16px;
  transition: transform 0.3s ease;
}

/* Вращение иконки при открытии */
.ac-item.is-active .accordion-icon {
  transform: rotate(-180deg);
}

/* Немного улучшений для панели */
.ac-panel {
  padding-top: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}


.ac-panel {
  padding: 0 !important;
}

@media only screen and (max-width: 1279px){
  .faq-decor{
    display: none;
  }

}

@media only screen and (min-width: 767px) {
  .accordion-title p {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }


  .accordion-content-title {
    max-width: 600px;
    
  }

  #faq h2 {
    font-weight: 400;
font-size: 108px;
line-height: 115%;
letter-spacing: 0.02em;
text-transform: uppercase;
  }
}


@media only screen and (min-width: 1279px) {
    

    .ac{
      margin-top: auto;
      max-width: 592px;

    }

    .accordion-icon{
      margin-bottom: 20px;
    }

    .faq-decor{
    display: block;
    width: 564px;
    }
    #faq h2 {
      width: 530px;
      margin: 0px;
      font-weight: 400;
  font-size: 108px;
  line-height: 115%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
    }

    .faq-decor{
      margin-top: 240px;
      width: 526;
      height: 408px;
    }
    
    #faq .container{
      display: grid;
  grid-template-columns: repeat(2, 1fr);
    }
    .accordion{
      margin-top: 276px;
      

    }
} 