html {
  scroll-behavior: smooth;
}
#hero{
  margin-top: 0;
}
.container-hero {
  padding: 0;
  margin-bottom: 16px;
}

.main-frame {
  position: absolute;
  width: 320px;
  height: 704px;
  padding: 0px 20px;
}

.background-frame {
  width: 360px;
  height: 736px;
  background-image: url(../img/bg-img/heromob.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.main-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  position: relative;
  top: 102px;
  width: 320px;
}

.web-dev-jpg {
  display: none;
}

.head-wrap {
  font-family: 'Impact';
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.btn-box {
  position: relative;
  top: 145px;
  left: 155px;
  bottom: 0px;
  width: 165px;
  height: 92px;
  background-color: #bcdfd1;
  border-radius: 16px;
}

.btn-order-text {
  position: relative;
  top: 30px;
  right: 110px;
  width: 187px;
  height: 28px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
}
.btn-arrow {
  position: relative;
  right: 149px;
  top: 8px;
  margin-right: 12px;
}

.btn-box:hover {
  background-color: #009156;
  color: white;
}

.inspiration-text {
  width: 320px;
  height: 140px;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  position: relative;
  top: 205px;
}
.social-media-container{
    background-color: #e4e5e6;
    max-height: 232px;
}
.social-media {
  margin: 0 auto;
  min-width: 320px;
  padding: 32px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px; 
}

.social-link:hover,
:focus {
  color: #009156;
}

@media screen and (min-width: 768px) {
  .main-frame {
    width: 704px;
    height: 896px;
    padding: 0px 32px;
  }

  .background-frame {
    width: 768px;
    height: 928px;
    background-image: url(../img/bg-img/Herotab.png);
  }

  .main-title {
    font-size: 136px;
    line-height: 115%;
    letter-spacing: 0.01em;
    width: 704px;
    top: 88px;
  }
  .head-wrap {
    font-size: 136px;
    line-height: 115%;
    letter-spacing: 0.01em;
  }

  .btn-box {
    top: 154px;
    width: 261px;
    height: 96px;
  }

  .btn-order-text {
    width: 207px;
    height: 32px;
    font-size: 20px;
    line-height: 160%;
    right: 112px;
  }

  .btn-box:hover {
    background-color: #009156;
  }

  .inspiration-text {
    width: 704px;
    height: 96px;
    font-size: 20px;
    line-height: 160%;
    top: 200px;
  }
  .social-media-container{
    height: 104px;
  }

  .social-media {
    padding: 40px 0px;
    flex-direction: row;
    gap: 40px;
  }

  .social-link:hover,
  :focus {
    color: #009156;
  }
}

@media screen and (min-width: 1280px) {
  .background-frame {
    width: 1280px;
    height: 804px;
    background-image: url(../img/bg-img/Herodsc.png);
  }

  .main-frame {
    width: 1216px;
    height: 772px;
  }

  .web-dev-jpg {
    display: block;
    position: absolute;
    left: 599px;
    top: 45px;
    width: 108px;
    height: 108px;
    margin-left: 40px;
    margin-bottom: 25px;
    border-radius: 15px;
  }

  .web-jpg{
    border-radius: 15px;
  }

  .main-title {
    top: 155px;
    width: 1210px;
  }

  .title-first {
    position: relative;
    top: 23px;
  }

  .btn-box {
    top: 275px;
    left: 213px;
    width: 261px;
    height: 96px;
  }

  .btn-box:hover {
    background-color: #009156;
  }

  .inspiration-text {
    width: 592px;
    height: 96px;
    top: 180px;
    left: 620px;
  }

  .social-media {
    width: 1280px;
  }
}
