/* Contact us styles. */
#section-contact-us {
    padding-top: 60px;
    /* background-color: #1e2023; */
  }
  
  .wt-contacts{
    display: flex;
    gap: 16px;
    padding-top: 32px;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    .wt-contacts{
    flex-direction: row;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .wt-contacts{
      padding-top: 120px;
      flex-direction: column;
    }
  }
  .lloyd-contact {
    /*color: #f0f0f0;*/

    color: #292929;
  }
  
  .icon-contact {

    display: flex;
    gap: 16px;

    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.28571;
    letter-spacing: 0.5px;
    /*color: #f0f0f0;*/
    text-align: start;
  }

  .email-error {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px;
    
    /* line-height: 16px; */ 
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #e74a3b;
    margin-top: 4px;
    padding-left: 4px;
  }
  
   .decor {
    display: none;
  } 
  @media screen and (min-width: 768px) {

   /* #work-together .container{*/
    .worktogether-background{
      background-image: url("../img/bg-img/decor_bg_7-tablet.webp");
      background-repeat: no-repeat;
      background-position: right top;
      /*    background-position-x: right;
      background-position-y: -50%;*/
      background-size: 336px 260px;
    }
  }

  @media screen and (min-width: 1280px) {
    /*#work-together .container{*/
    .worktogether-background{
      background-image: url("../img/bg-img/decor_bg_3-desktop.webp");
      background-repeat: no-repeat;
      background-position: right top;
      /*    background-position-x: right;
      background-position-y: -50%;*/
      background-size: 524px 408px;
    }
  }
  
  .span {
    color: #14c57c;
  }
  
  .h2-contact-us {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.200;
    letter-spacing: 1.8px;
    color: #292929;
    text-transform: uppercase;
  }
  @media screen and (min-width: 768px) {
    .h2-contact-us {
      font-weight: 400;
      font-size: 108px;
      
      /* line-height: 124px; */ 
      line-height: 1.148;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #292929;
    }
  }

  @media screen and (min-width: 1280px) {
    .h2-contact-us {
      width: 507px;
      font-family: "Impact", sans-serif;
      font-weight: 400;
      font-size: 108px;

/* line-height: 124px; */ 
line-height: 1.148;
letter-spacing: 0.002em;
text-transform: uppercase;
color: #292929;
    }
  }

  .contact-us {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: #f0f0f0;
    /*background-color: #1e2023;*/
  }
  @media screen and (min-width: 768px) {
    .contact-us {
      margin-top: 124px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 40px;
    }
  }
  @media screen and (min-width: 1280px) {
    .contact-us {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 40px;
    }
  }
  
  .contact-text {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.28571;
    letter-spacing: 0.5px;

    color: #292929;
    /*color: #f0f0f0;*/
    text-align: start;
    margin-top: 40px;
    text-transform: uppercase;
  }
  @media screen and (min-width: 768px) {
    .contact-text {

      width: 488px;
      font-size: 16px;
      line-height: 1.25;
      text-transform: uppercase;
    }
  }
  
  .contact-form {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .contact-email
    {
      position: relative;
      width: 100%;
    }
  
  .contact-input {

    border-radius: 8px;
    border: 0px solid #ffffff;
    padding: 12px;
    width: 100%;
    box-sizing: border-box; 
    background-color: #e4e5e6;

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;

  padding-right: 32px; /* місце під іконку */
  }

  .contact-input::placeholder {
    color: #292929;
  }

  .contact-form input:focus,
  .contact-form textarea:focus {
  outline: none;  /* Вимикає синій контур (outline) */
  border: 0px solid #ffffff;
}

.icon-status {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon-status.valid {
  color: green;
  content: "✔";
  opacity: 1;
}


  @media screen and (min-width: 768px) {
    .contact-input {
      padding-left: 16px;
      padding-top: 12px;
      padding-bottom: 12px;
      /*width: 460px;
      height: 52px;
      background-color: #2a2d32;*/
    }
  }
  
  .button-send {
    border-radius: 8px;
    padding: 12px 50px;
    width: 100%;
    height: 42px;
    background-color: #14c57c;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.04em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px) {
    #section-contact-us {
      padding-top: 80px;
    }
    .button-send {
      padding: 17px 63px;
      width: 160px;
      height: 52px;
    }
  }
  .button-send:hover {
    background-color: #009156;
  }
 
  @media screen and (min-width: 1280px) {

    .button-send {
      border-radius: 8px;
      padding: 12px 24px;
      width: 173px;
      height: 48px;
    }
  }
  
  .contact-textarea {
    padding: 16px;
    height: 128px;

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;

    line-height: 1.489;
    letter-spacing: 0.03em;
    color: #292929;
    background-color: #e4e5e6;

    resize: none;
    overflow: auto;
    border: 0px solid rgba(12, 12, 12, 0.15);
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    height: 128px;
    /*   background-color: #2a2d32;
  padding: 12px 20px 12px 14px; */
  }

 .contact-textarea::placeholder {
    color: #292929;
  }    

  @media screen and (min-width: 768px) {
    .contact-textarea {
      padding: 16px;
      height: 128px;
    }
  }  
 
  .contact-body {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    .contact-body {
      gap: 60px;
    }
  }
  @media screen and (min-width: 1280px) {
    #section-contact-us {
      padding-top: 100px;
    }
    .contact-body {
      flex-direction: row;
      gap: 40px;
    }
  }
  
  .info-window {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 8px;
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    .info-window {
      gap: 32px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .contact-row {
      height: 42px;
      width: 100%;
      background-color: #2a2d32;
    }
  }
  @media screen and (max-width: 767px) {
    .contact-row-comment {
      height: 84px;
      width: 100%;
      color: #f0f0f0;
      background-color: #2a2d32;
    }
  }
  @media screen and (min-width: 768px) {
    .contact-row {
      height: 52px;
    }
  }
  @media screen and (min-width: 768px) {
    .contact-row-comment {
      height: 90px;
    }
  }

  /* Свої стилі для iziToast модалки */

.iziToast-wrapper{
  padding: 0px !important;; 
}

.iziToast.iziToast-theme-light.my-modal-izi {
    background: #ffffff; /* Білий фон */

/**/
    padding:48px 32px ;
    max-width: 400px;
    width: 320px;
    height: 328px;
    border-radius: 16px;
    text-align: center;
  }
  .iziToast.iziToast-theme-light.my-modal-izi .iziToast-close{
    height: 12px;
    width: 12px;
    margin-top: 22px;
    margin-right: 22px;
  }
  .iziToast.iziToast-theme-light.my-modal-izi .iziToast-title{
      /* Текст */

    font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 20px;

/* line-height: 32px; */ 
line-height: 1.6;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
color: #00b068;
  } 
  
  .iziToast.iziToast-theme-light.my-modal-izi .iziToast-message {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: #292929;
    padding-top: 16px;
  }
  
  .iziToast-overlay {
    background-color: rgba(29, 29, 29, 0.8) !important; /* Темний напівпрозорий фон */
  }

  @media screen and (min-width: 768px) {
.iziToast{

      width: 492px !important;
}

    .iziToast.iziToast-theme-light.my-modal-izi {
      padding:64px ;
      /*max-width: 400px;*/
      height: 280px;
      border-radius: 16px;
      text-align: center;

    }

    .iziToast.iziToast-theme-light.my-modal-izi .iziToast-close{
      height: 12px;
      width: 12px;
      margin-top: 26px;
      margin-right: 26px;
    }
  }

  
